<!DOCTYPE html>
<html>

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/a7a8104e78.js" crossorigin="anonymous"></script>

<title>Sentiment Analysis</title>

<style>

body{
background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container_output_content{

}

.container_navbar{

}

.container_footer{

}

</style>

</head>

<body>

<!--  -->
<!--  -->
<!--  -->
<!-- NAVBAR -->
<div class="container_navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Buse Catalin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
        <form class="d-flex" method="POST" action="/search">
        <input class="form-control me-2" type="search" placeholder="Search for movies" name="movie_name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </ul>

  </div>
</nav>
</div>







<h1>THIS IS HOME</h1>

<p>My first paragraph.</p>

<div class = "container-md" id="container_output_content">

	<div class="row">

		<div class="col" id="coloane_content">
			<div class="card">
				<div class="card-body">

					<div class="row">

					<div class="col-2">

						<img src="{{ image_path|safe }}" alt="{{ name_of_movie }}" style="width:200px;height: 320px;">

					</div>

					<div class="col-10">

					<div class="row">
						<div class="col">
							<h1> {{ name_of_movie }} </h1>
						</div>


					</div>


					<div class="row">
						<div class="col">
                            {{ extra_out|safe }}
                            {{ textblob_out|safe }}
                            {{ vader_out|safe }}
						</div>
					</div>


					</div>

					</div>


				</div>
			</div>
		</div>



</div>
</div>







<!-- FOOTER -->
<div class="container_footerr">
    <footer class="bg-dark text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/buseioncatalin" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/buseioncatalin" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/busecatalin/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/buseioncatalin/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/buseioncatalin" target="_blank" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0,0,0,0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://buseioncatalin.github.io/" target="_blank">Buse Catalin</a>
  </div>
  <!-- Copyright -->
</footer>
</div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
