# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\LICENTA BUSE CATALIN FLASK PYTHON\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
